In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import requests
from tqdm import tqdm

In [2]:
games = pd.read_csv('data/games.csv').iloc[:,1:]
players = pd.read_csv('data/players.csv').iloc[1:,:]
tournaments = pd.read_csv('data/tournaments.csv')

In [3]:
games.head()

,upset_score,tournament_id,left_fide_id,left_rtg,right_fide_id,right_rtg,location,medium,time_control
0,0.0,686540.0,13724800.0,1630,4404637.0,1306.0,"Mellieha, Malta",offline,90min+30sec/move
1,0.0,686540.0,45076995.0,1156,16233751.0,1615.0,"Mellieha, Malta",offline,90min+30sec/move
2,0.0,686540.0,25683896.0,1537,5602637.0,1145.0,"Mellieha, Malta",offline,90min+30sec/move
3,698.0,686540.0,41822412.0,0,472000.0,1396.0,"Mellieha, Malta",offline,90min+30sec/move
4,0.0,686540.0,9307010.0,1362,9325190.0,0.0,"Mellieha, Malta",offline,90min+30sec/move

In [4]:
games.shape

(66162, 9)

In [5]:
players.head()

                    Name    FideID
1  Margadgua Erdenebayar   4904052
2        Alipbek Arailym  13724800
3       Von Beckh Frieda  16233751
4      Amulya Guruprasad  25683896
5       Cuthbert Larissa    472000

In [6]:
tournaments.head()

,tournament_id,url,location,medium,time_control
0,686540,https://chess-results.com/tnr686540.aspx?lan=1,"Mellieha, Malta",offline,90min+30sec/move
1,669871,https://chess-results.com/tnr669871.aspx?lan=1,"Mellieha, Malta",offline,90min+30sec/move
2,686538,https://chess-results.com/tnr686538.aspx?lan=1,"Mellieha, Malta",offline,90min+30sec/move
3,686539,https://chess-results.com/tnr686539.aspx?lan=1,"Mellieha, Malta",offline,90min+30sec/move
4,670407,https://chess-results.com/tnr670407.aspx?lan=1,Cala Gonone - Dorgali (NU),offline,90'/40 moves + 30' + 30'' bonus

In [7]:
tournaments.shape

(313, 5)

### Step 1: filter tournament in which both left_rtg and right_rtg are greater than zero

In [8]:
games = games.loc[(games['left_rtg'] > 0) & (games['right_rtg'] > 0)]

In [9]:
games.shape

(57963, 9)

### Step 2: removing duplicates

In [10]:
games.groupby(['left_fide_id', 'right_fide_id']).size().reset_index().sort_values(0, ascending = False)

       left_fide_id  right_fide_id   0
8805      4168119.0      4126025.0  59
8564      4126025.0      4135539.0  58
21987    24116068.0       623539.0  58
3517      1271102.0     12903892.0  58
3515      1271102.0      4653130.0  58
...             ...            ...  ..
9079      4250990.0      1227556.0   1
9078      4250990.0       224715.0   1
9077      4248961.0     35018361.0   1
9076      4247019.0     14116367.0   1
26960   651083248.0     33329664.0   1

[26961 rows x 3 columns]

In [11]:
games.loc[(games['left_fide_id'] == 4168119) & (games['right_fide_id'] == 4126025)]

,upset_score,tournament_id,left_fide_id,left_rtg,right_fide_id,right_rtg,location,medium,time_control
22808,0.0,600854.0,4168119.0,2792,4126025.0,2757.0,"PGE Narodowy, Warsaw, Poland",offline,3min+2sec/move
24773,0.0,600852.0,4168119.0,2798,4126025.0,2763.0,"PGE Narodowy, Warsaw, Poland",offline,15min+10sec/move
52899,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
52954,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53009,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53064,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53119,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53174,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53229,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53284,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53339,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53394,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53449,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53504,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53559,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53614,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53669,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53724,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53779,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53834,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53889,6.0,557461.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53944,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
53999,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54054,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54109,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54164,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54219,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54274,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54329,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54384,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54439,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54494,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54549,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54604,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54659,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54714,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54769,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54824,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54879,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
54934,6.0,557637.0,4168119.0,2789,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
65121,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
65176,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
65231,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
65286,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
65341,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
65396,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
65451,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
65506,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
65561,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
65616,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
65671,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
65726,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
65781,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
65836,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
65891,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
65946,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
66001,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
66056,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment
66111,1.5,525314.0,4168119.0,2774,4126025.0,2777.0,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment

In [12]:
tournaments.loc[tournaments['tournament_id'] == 557461]

,tournament_id,url,location,medium,time_control
240,557461,https://chess-results.com/tnr557461.aspx?lan=1,Yekaterinburg,offline,100'/40+50'/20+15'+30'' Increment

### In Yekaterinburg, these two players only met twice.. for simplicity, let's remove all duplicates

In [13]:
games = games.drop_duplicates()

In [14]:
games.shape

(27629, 9)

### Step 3: get the start date of each tournament to get covariates

In [15]:
all_tournaments = games[['tournament_id']].drop_duplicates().reset_index(drop = True)

In [16]:
url = "./chess_results.html"
with open(url) as fp:
    soup = BeautifulSoup(fp, 'html.parser')

In [17]:
tour_ids = []
start_dates = []

temps = soup.findAll("a", href = True)

for temp in temps:
    if '/tnr' in temp['href']:
        tour_ids.append(int(temp['href'].split('/')[-1].split('.')[0][3:]))
        start_dates.append(temp.findNext('td').text)

In [18]:
tour_dates_df = pd.DataFrame(columns = ['id', 'start_date'])
tour_dates_df['id'] = tour_ids
tour_dates_df['start_date'] = start_dates

In [19]:
tour_dates_df

         id  start_date
0    686540  2022/10/21
1    669871  2022/10/21
2    686538  2022/10/21
3    686539  2022/10/21
4    670407  2022/10/12
..      ...         ...
367  527178  2020/05/08
368  525314  2020/03/17
369  491115  2020/03/06
370  491114  2020/03/06
371  503449  2020/01/03

[372 rows x 2 columns]

In [20]:
games = games.merge(tour_dates_df, how = 'left', left_on = 'tournament_id', right_on = 'id')
games = games.drop(columns = ['id'])

### Step 4: map location to country; fix lichess -> online

In [21]:
locs = list(games['location'].unique())
countries = ['Malta', 'Italy', 'Spain', 'Georgia', 'Belgium', 'Romania', 'Poland',
             'United States of America', 'Hungary', 'India', 'India', 'Panama',
            'Italy', 'Russia', 'Israel', 'Greece', 'Greece', 'Greece', 'Greece',
            'Kazakhstan', 'Bangladesh', 'Kenya', 'Kenya', 'Poland', 'Russia', 'India',
            'China', 'United Arab Emirates', 'Mongolia', 'Online', 'Spain', 'Greece',
             'Greece', 'Serbia', 'Online', 'Greece', 'Online', 'Online', 'Tajikistan',
             'Montenegro', 'Uganda', 'Russia', 'Online', 'Zambia', 'Iceland', 'Online', 
             'Online', 'Online', 'Georgia']

loc_dict = {}
for i in range(len(locs)):
    loc_dict[locs[i]] = countries[i]

In [22]:
games['country'] = games.apply(lambda r: loc_dict[r['location']], axis = 1)
games = games.drop(columns = ['location'])

In [23]:
games['medium'] = games.apply(lambda r: 'online' if r['country'] == 'Online' else 'offline', axis = 1)

### Step 5: map time control to standard, rapid, blitz, bullet

In [24]:
time_controls = list(games['time_control'].unique())
base_min = [90, 90, 5, 15, 90, 90, 3, 3, 90, 90, 20, 25, 90, 3, 5, 10, 90, 90, 90, 90, 90, 90,
           5, 10, 10, 60, 90, 3, 15, 10, 15, 15, 120, 15, 15, 3, 45, 90, 15, 3, 10, 15, 120, 10, 10,
           15, 120, 90, 90, 90, 100, 3, 10, 90, 90, 15, 10, 10, 15]
increment_sec = [30, 30, 5, 10, 30, 30, 2, 2, 30, 30, 10, 5, 30, 2, 0, 3, 30, 30, 30, 30, 30, 0, 2, 5, 3, 30,
                30, 2, 10, 5, 5, 5, 60, 10, 10, 2, 30, 30, 10, 2, 3, 10, 30, 3, 3, 10, 30, 30, 30, 30, 50,
                2, 5, 30, 30, 10, 3, 3, 5]

total_time = np.array(base_min) + np.array(increment_sec) * 40/60

def time_control(x):
    if x < 3:
        return 'bullet'
    elif x < 15:
        return 'blitz'
    elif x < 60:
        return 'rapid'
    else:
        return 'standard'
    
tc_games = [time_control(x) for x in total_time]

In [25]:
tc_dict = {}
for i in range(len(time_controls)):
    tc_dict[time_controls[i]] = tc_games[i]

In [26]:
games['time_control'] = games.apply(lambda r: tc_dict[r['time_control']], axis = 1)

In [27]:
games

,upset_score,tournament_id,left_fide_id,left_rtg,right_fide_id,right_rtg,medium,time_control,start_date,country
0,0.0,686540.0,13724800.0,1630,4404637.0,1306.0,offline,standard,2022/10/21,Malta
1,0.0,686540.0,45076995.0,1156,16233751.0,1615.0,offline,standard,2022/10/21,Malta
2,0.0,686540.0,25683896.0,1537,5602637.0,1145.0,offline,standard,2022/10/21,Malta
3,0.0,686540.0,16233751.0,1615,13724800.0,1630.0,offline,standard,2022/10/21,Malta
4,34.0,686540.0,472000.0,1396,9307010.0,1362.0,offline,standard,2022/10/21,Malta
...,...,...,...,...,...,...,...,...,...,...
27624,0.0,525314.0,4126025.0,2777,24116068.0,2763.0,offline,standard,2020/03/17,Russia
27625,0.0,525314.0,2020009.0,2842,4126025.0,2777.0,offline,standard,2020/03/17,Russia
27626,0.0,525314.0,24116068.0,2763,4135539.0,2698.0,offline,standard,2020/03/17,Russia
27627,0.0,525314.0,8603677.0,2805,4168119.0,2774.0,offline,standard,2020/03/17,Russia
27628,0.0,525314.0,623539.0,2767,8602883.0,2762.0,offline,standard,2020/03/17,Russia

### Step 7: get games in which there is a difference in rating of >= 200 (can change this threshold later)

In [80]:
cond = np.abs(games['left_rtg'] - games['right_rtg']) >= 200
games_200 = games[cond]

In [81]:
games_200

,upset_score,tournament_id,left_fide_id,left_rtg,right_fide_id,right_rtg,medium,time_control,start_date,country
0,0.0,686540.0,13724800.0,1630,4404637.0,1306.0,offline,standard,2022/10/21,Malta
1,0.0,686540.0,45076995.0,1156,16233751.0,1615.0,offline,standard,2022/10/21,Malta
2,0.0,686540.0,25683896.0,1537,5602637.0,1145.0,offline,standard,2022/10/21,Malta
5,0.0,686540.0,5602637.0,1145,9309535.0,1345.0,offline,standard,2022/10/21,Malta
6,270.0,686540.0,9309535.0,1345,16233751.0,1615.0,offline,standard,2022/10/21,Malta
...,...,...,...,...,...,...,...,...,...,...
27546,176.0,539708.0,5143128.0,1534,5160464.0,1182.0,online,blitz,2020/11/01,Online
27550,107.5,530107.0,13603280.0,1797,13612077.0,2012.0,offline,rapid,2020/07/09,Georgia
27558,101.0,530107.0,13603280.0,1797,13612476.0,1999.0,offline,rapid,2020/07/09,Georgia
27562,0.0,530107.0,13615939.0,2012,13603280.0,1797.0,offline,rapid,2020/07/09,Georgia
27566,274.0,530107.0,13603280.0,1797,13614576.0,2071.0,offline,rapid,2020/07/09,Georgia

### Step 6: get each player's basic information (invalid means not found, or missing information)
### e.g. 10207570 missing birth year

In [31]:
def get_player_basic_info(fide_id):
  ## input = string FIDE ID
  try:
    url = "https://ratings.fide.com/profile/" + fide_id
    page = requests.get(url)
    soup = BeautifulSoup(page.text)
    name = soup.find("div", {"class":"col-lg-8 profile-top-title"}).text.strip()
    other_data = soup.find_all("div", {"class":"profile-top-info__block__row__data"})
    fed = other_data[1].text.strip()
    yob = int(other_data[3].text.strip())
    sex = other_data[4].text.strip()
    return (name, fed, yob, sex)
  except:
    print("FIDE ID " + fide_id +  " invalid")

In [32]:
get_player_basic_info('13724800')

('Alipbek, Arailym', 'Kazakhstan', 2005, 'Female')

In [33]:
all_players = list(set(games_200['left_fide_id']).union(set(games_200['right_fide_id'])))

In [34]:
len(all_players)

4482

In [35]:
players_info = {}

for player in tqdm(all_players):
    players_info[player] = get_player_basic_info(str(int(player)))

  2%|▏         | 88/4482 [01:03<51:57,  1.41it/s]

FIDE ID 10207570 invalid

 16%|█▌        | 716/4482 [09:44<1:10:32,  1.12s/it]

FIDE ID 6703690 invalid

 23%|██▎       | 1025/4482 [13:51<43:47,  1.32it/s]

FIDE ID 6000207 invalid

 23%|██▎       | 1033/4482 [13:57<36:38,  1.57it/s]

FIDE ID 28380791 invalid

 27%|██▋       | 1197/4482 [15:59<37:40,  1.45it/s]

FIDE ID 10211446 invalid

 37%|███▋      | 1676/4482 [21:50<38:00,  1.23it/s]

FIDE ID 9000810 invalid

 39%|███▊      | 1732/4482 [22:33<45:02,  1.02it/s]

FIDE ID 5216257 invalid

 40%|███▉      | 1779/4482 [23:07<33:40,  1.34it/s]

FIDE ID 8607966 invalid

 42%|████▏     | 1862/4482 [24:10<34:00,  1.28it/s]

FIDE ID 9001476 invalid

 42%|████▏     | 1864/4482 [24:13<52:05,  1.19s/it]

FIDE ID 3824144 invalid

 42%|████▏     | 1877/4482 [24:27<46:21,  1.07s/it]

FIDE ID 3824179 invalid

 45%|████▌     | 2018/4482 [27:08<1:00:07,  1.46s/it]

FIDE ID 5200938 invalid

 50%|████▉     | 2236/4482 [31:16<38:32,  1.03s/it]

FIDE ID 8609772 invalid

 50%|█████     | 2260/4482 [31:42<37:25,  1.01s/it]

FIDE ID 3301435 invalid

 63%|██████▎   | 2814/4482 [42:30<32:26,  1.17s/it]

FIDE ID 5204100 invalid

 63%|██████▎   | 2817/4482 [42:33<29:12,  1.05s/it]

FIDE ID 10201246 invalid

 63%|██████▎   | 2833/4482 [42:56<36:01,  1.31s/it]

FIDE ID 7301340 invalid

 75%|███████▌  | 3378/4482 [53:18<16:07,  1.14it/s]

FIDE ID 3813630 invalid

 79%|███████▉  | 3552/4482 [56:03<14:32,  1.07it/s]

FIDE ID 5206944 invalid

 82%|████████▏ | 3661/4482 [57:48<11:22,  1.20it/s]

FIDE ID 5600480 invalid

 82%|████████▏ | 3687/4482 [58:10<11:11,  1.18it/s]

FIDE ID 5600570 invalid

 83%|████████▎ | 3716/4482 [58:40<15:32,  1.22s/it]

FIDE ID 10204563 invalid

 83%|████████▎ | 3726/4482 [58:51<16:23,  1.30s/it]

FIDE ID 5600715 invalid

 86%|████████▌ | 3855/4482 [1:00:49<07:52,  1.33it/s]

FIDE ID 5601118 invalid

 88%|████████▊ | 3945/4482 [1:02:07<07:37,  1.17it/s]

FIDE ID 10205373 invalid

 91%|█████████ | 4071/4482 [1:03:50<04:42,  1.45it/s]

FIDE ID 5716659 invalid

 92%|█████████▏| 4126/4482 [1:04:34<04:20,  1.37it/s]

FIDE ID 5208939 invalid

 94%|█████████▎| 4195/4482 [1:05:26<03:43,  1.29it/s]

FIDE ID 3406911 invalid

100%|██████████| 4482/4482 [1:09:01<00:00,  1.08it/s]

In [36]:
len(players_info)

4482

In [84]:
games_200['left_info'] = games_200.apply(lambda r: players_info[r['left_fide_id']], axis = 1)
games_200['right_info'] = games_200.apply(lambda r: players_info[r['right_fide_id']], axis = 1)

<ipython-input-84-819cf082a9c8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_200['left_info'] = games_200.apply(lambda r: players_info[r['left_fide_id']], axis = 1)
<ipython-input-84-819cf082a9c8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_200['right_info'] = games_200.apply(lambda r: players_info[r['right_fide_id']], axis = 1)

In [85]:
games_200 = games_200.dropna()

In [86]:
games_200.head()

,upset_score,tournament_id,left_fide_id,left_rtg,right_fide_id,right_rtg,medium,time_control,start_date,country,left_info,right_info
0,0.0,686540.0,13724800.0,1630,4404637.0,1306.0,offline,standard,2022/10/21,Malta,"(Alipbek, Arailym, Kazakhstan, 2005, Female)","(Jaramillo, Amparo, Colombia, 1957, Female)"
1,0.0,686540.0,45076995.0,1156,16233751.0,1615.0,offline,standard,2022/10/21,Malta,"(Rani Puja, India, 1995, Female)","(von Beckh, Frieda, Germany, 2007, Female)"
2,0.0,686540.0,25683896.0,1537,5602637.0,1145.0,offline,standard,2022/10/21,Malta,"(Amulya Guruprasad, India, 2008, Female)","(Thornton, Hayley, Malta, 2011, Female)"
5,0.0,686540.0,5602637.0,1145,9309535.0,1345.0,offline,standard,2022/10/21,Malta,"(Thornton, Hayley, Malta, 2011, Female)","(Aysha Nasser H Alshamsi, United Arab Emirates..."
6,270.0,686540.0,9309535.0,1345,16233751.0,1615.0,offline,standard,2022/10/21,Malta,"(Aysha Nasser H Alshamsi, United Arab Emirates...","(von Beckh, Frieda, Germany, 2007, Female)"

### Step 7: reorder so that left player is of higher rating, for consistency; clean up table, add covariate columns

In [95]:
games_200_reordered = pd.DataFrame(columns = games_200.columns)

for i in range(games_200.shape[0]):
    data = games_200.iloc[i]
    
    if data['left_rtg'] > data['right_rtg']:
        games_200_reordered.loc[len(games_200_reordered)] = list(data)
        
    else:
        cols_order = ['upset_score', 'tournament_id', 'right_fide_id', 'right_rtg',
                      'left_fide_id', 'left_rtg', 'medium', 'time_control', 'start_date',
                      'country', 'right_info', 'left_info']
        games_200_reordered.loc[len(games_200_reordered)] = list(data[cols_order])

In [96]:
games_200_reordered['left_country'] = games_200_reordered.apply(lambda r: r['left_info'][1], axis = 1)
games_200_reordered['left_birth'] = games_200_reordered.apply(lambda r: r['left_info'][2], axis = 1)
games_200_reordered['left_sex'] = games_200_reordered.apply(lambda r: r['left_info'][3], axis = 1)
games_200_reordered['right_country'] = games_200_reordered.apply(lambda r: r['right_info'][1], axis = 1)
games_200_reordered['right_birth'] = games_200_reordered.apply(lambda r: r['right_info'][2], axis = 1)
games_200_reordered['right_sex'] = games_200_reordered.apply(lambda r: r['right_info'][3], axis = 1)

In [97]:
games_200_reordered = games_200_reordered.drop(columns = ['left_info', 'right_info'])

In [100]:
cols_order = ['tournament_id', 'start_date', 'medium', 'country', 'time_control', 
             'left_fide_id', 'left_rtg', 'left_country', 'left_birth', 'left_sex',
             'right_fide_id', 'right_rtg', 'right_country', 'right_birth', 'right_sex',
             'upset_score']

games_200_reordered = games_200_reordered[cols_order]

In [103]:
games_200_reordered['left_age'] = games_200_reordered.apply(lambda r: int(r['start_date'].split('/')[0]) - 
                                                            r['left_birth'], axis = 1)
games_200_reordered['right_age'] = games_200_reordered.apply(lambda r: int(r['start_date'].split('/')[0]) - 
                                                            r['right_birth'], axis = 1)

<ipython-input-103-1a97c480d0ce>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_200_reordered['left_age'] = games_200_reordered.apply(lambda r: int(r['start_date'].split('/')[0]) -
<ipython-input-103-1a97c480d0ce>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_200_reordered['right_age'] = games_200_reordered.apply(lambda r: int(r['start_date'].split('/')[0]) -

In [105]:
games_200_reordered = games_200_reordered.drop(columns = ['left_birth', 'right_birth'])

In [106]:
cols_order = ['tournament_id', 'start_date', 'medium', 'country', 'time_control', 
             'left_fide_id', 'left_rtg', 'left_country', 'left_age', 'left_sex',
             'right_fide_id', 'right_rtg', 'right_country', 'right_age', 'right_sex',
             'upset_score']

games_200_reordered = games_200_reordered[cols_order]

In [108]:
games_200_reordered['upset'] = games_200_reordered.apply(lambda r: int(r['upset_score'] > 0), axis = 1)

In [110]:
games_200_reordered['upset'].value_counts()

0    10615
1     5577
Name: upset, dtype: int64

In [111]:
def left_home_country(r):
    if r['medium'] == 'online':
        return 1
    else:
        if r['country'] == r['left_country']:
            return 1
        else:
            return 0
        
def right_home_country(r):
    if r['medium'] == 'online':
        return 1
    else:
        if r['country'] == r['right_country']:
            return 1
        else:
            return 0

In [112]:
games_200_reordered['left_home_country'] = games_200_reordered.apply(left_home_country, axis = 1)
games_200_reordered['right_home_country'] = games_200_reordered.apply(right_home_country, axis = 1)
games_200_reordered['home_country_diff'] = games_200_reordered['left_home_country'] \
    - games_200_reordered['right_home_country']

In [114]:
games_200_reordered['age_diff'] = games_200_reordered['left_age'] - games_200_reordered['right_age']

In [126]:
def sex_cat(r):
    if r['left_sex'] == r['right_sex']:
        if r['left_sex'] == 'Male':
            return 'MM'
        else:
            return 'FF'
    else:
        if r['left_sex'] == 'Male':
            return 'MF'
        else:
            return 'FM'

In [127]:
games_200_reordered['players_sex'] = games_200_reordered.apply(sex_cat, axis = 1)

In [128]:
games_200_reordered

,tournament_id,start_date,medium,country,time_control,left_fide_id,left_rtg,left_country,left_age,left_sex,...,right_country,right_age,right_sex,upset_score,upset,left_home_country,right_home_country,age_diff,home_country_diff,players_sex
0,686540.0,2022/10/21,offline,Malta,standard,13724800.0,1630.0,Kazakhstan,17,Female,...,Colombia,65,Female,0.0,0,0,0,-48,0,FF
1,686540.0,2022/10/21,offline,Malta,standard,16233751.0,1615.0,Germany,15,Female,...,India,27,Female,0.0,0,0,0,-12,0,FF
2,686540.0,2022/10/21,offline,Malta,standard,25683896.0,1537.0,India,14,Female,...,Malta,11,Female,0.0,0,0,1,3,-1,FF
3,686540.0,2022/10/21,offline,Malta,standard,9309535.0,1345.0,United Arab Emirates,18,Female,...,Malta,11,Female,0.0,0,0,1,7,-1,FF
4,686540.0,2022/10/21,offline,Malta,standard,16233751.0,1615.0,Germany,15,Female,...,United Arab Emirates,18,Female,270.0,1,0,0,-3,0,FF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16187,539708.0,2020/11/01,online,Online,blitz,5143128.0,1534.0,Mexico,11,Female,...,Mexico,11,Female,176.0,1,1,1,0,0,FF
16188,530107.0,2020/07/09,offline,Georgia,rapid,13612077.0,2012.0,Georgia,20,Female,...,Georgia,19,Female,107.5,1,1,1,1,0,FF
16189,530107.0,2020/07/09,offline,Georgia,rapid,13612476.0,1999.0,Georgia,15,Female,...,Georgia,19,Female,101.0,1,1,1,-4,0,FF
16190,530107.0,2020/07/09,offline,Georgia,rapid,13615939.0,2012.0,Georgia,15,Female,...,Georgia,19,Female,0.0,0,1,1,-4,0,FF
16191,530107.0,2020/07/09,offline,Georgia,rapid,13614576.0,2071.0,Georgia,17,Female,...,Georgia,19,Female,274.0,1,1,1,-2,0,FF

In [130]:
games_200_reordered.columns

Index(['tournament_id', 'start_date', 'medium', 'country', 'time_control',
       'left_fide_id', 'left_rtg', 'left_country', 'left_age', 'left_sex',
       'right_fide_id', 'right_rtg', 'right_country', 'right_age', 'right_sex',
       'upset_score', 'upset', 'left_home_country', 'right_home_country',
       'age_diff', 'home_country_diff', 'players_sex'],
      dtype='object')

### Step 8: to ensure the ratings represent 'real' rating of players, only choose games in which both ages are >= 25; add rating diff columns

In [167]:
games_200_22 = games_200_reordered[(games_200_reordered['left_age'] >= 22) & 
                                   (games_200_reordered['right_age'] >= 22)] \
    .reset_index(drop = True)

In [168]:
games_200_22['rating_diff'] = games_200_22['left_rtg'] - games_200_22['right_rating']

KeyError: 'left_rating'

In [148]:
games_200_22

,tournament_id,start_date,medium,country,time_control,left_fide_id,left_rtg,left_country,left_age,left_sex,...,right_country,right_age,right_sex,upset_score,upset,left_home_country,right_home_country,age_diff,home_country_diff,players_sex
0,686540.0,2022/10/21,offline,Malta,standard,9307010.0,1362.0,United Arab Emirates,23,Female,...,India,27,Female,103.0,1,0,0,-4,0,FF
1,669871.0,2022/10/21,offline,Malta,standard,2903784.0,2255.0,Bulgaria,46,Male,...,Poland,25,Male,220.0,1,0,0,21,0,MM
2,669871.0,2022/10/21,offline,Malta,standard,2007606.0,2246.0,United States of America,58,Male,...,Uzbekistan,36,Male,213.0,1,0,0,22,0,MM
3,669871.0,2022/10/21,offline,Malta,standard,3803392.0,2243.0,Spain,29,Male,...,Israel,66,Male,0.0,0,0,0,-37,0,MM
4,669871.0,2022/10/21,offline,Malta,standard,1170791.0,2226.0,Poland,27,Male,...,India,41,Male,204.0,1,0,0,-14,0,MM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2188,552700.0,2021/03/13,online,Online,blitz,3506738.0,2024.0,Cuba,22,Male,...,Mexico,22,Female,0.0,0,1,1,0,0,MF
2189,552700.0,2021/03/13,online,Online,blitz,4259963.0,2236.0,Greece,22,Male,...,Greece,22,Male,0.0,0,1,1,0,0,MM
2190,552700.0,2021/03/13,online,Online,blitz,14135132.0,1926.0,Ukraine,23,Male,...,India,22,Male,0.0,0,1,1,1,0,MM
2191,552700.0,2021/03/13,online,Online,blitz,3517489.0,2025.0,Cuba,24,Female,...,Uganda,22,Female,0.0,0,1,1,2,0,FF
2192,542325.0,2020/12/04,offline,China,rapid,8602980.0,2658.0,China,26,Female,...,Turkiye,38,Female,0.0,0,1,0,-12,1,FF

In [157]:
games_200_22['medium'].value_counts()

offline    1185
online     1008
Name: medium, dtype: int64

In [158]:
games_200_22['upset'].value_counts()

0    1537
1     656
Name: upset, dtype: int64

In [159]:
games_200_22['home_country_diff'].value_counts()

 0    1899
-1     230
 1      64
Name: home_country_diff, dtype: int64

In [160]:
games_200_22['players_sex'].value_counts()

MM    1526
FF     306
MF     267
FM      94
Name: players_sex, dtype: int64

In [163]:
games_200_22['time_control'].value_counts()

blitz       1252
standard     650
rapid        291
Name: time_control, dtype: int64

In [161]:
games_200_22.to_csv('games_200_22.csv')

In [164]:
cov_cols = ['medium', 'time_control', 'age_diff', 'home_country_diff', 'players_sex', 'upset']
games_200_22_clean = games_200_22[cov_cols]

In [165]:
games_200_22_clean

       medium time_control  age_diff  home_country_diff players_sex  upset
0     offline     standard        -4                  0          FF      1
1     offline     standard        21                  0          MM      1
2     offline     standard        22                  0          MM      1
3     offline     standard       -37                  0          MM      0
4     offline     standard       -14                  0          MM      1
...       ...          ...       ...                ...         ...    ...
2188   online        blitz         0                  0          MF      0
2189   online        blitz         0                  0          MM      0
2190   online        blitz         1                  0          MM      0
2191   online        blitz         2                  0          FF      0
2192  offline        rapid       -12                  1          FF      0

[2193 rows x 6 columns]